/* Style oid propertylar shu fileda yoziladi  */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #fff;
}
header{
    width: 100%;
    height: 62px;
    background: #000;
    display: flex;
    justify-content: space-between;
}
header img{
    width: 150px;
    height: 128px;
    margin-left: 100px;
    margin-top: -30px;
}
header div{
    margin-right:120px ;
    display: flex;
    gap: 30px;
    align-items: center;
}
header div button:nth-child(1){
    width: 200px;
    background: red;
    border: none;
    height: 80%;
    border-radius: 4px;
    text-transform: uppercase;
}
header div button:nth-child(2){
    width: 100px;
    background:none;
    border: 1px solid white;
    height: 80%;
    
    border-radius: 4px;
    text-transform: uppercase;
}
main{
    
    background-color: #212121;
    padding-top: 30px;
    padding-bottom: 20px;
}
main .carts{
   
    width: 98%;
   min-height: 84.8vh;
    display: flex;
    flex-wrap: wrap;
    
}
main .carts .cart {
    width: 350px;
    height: 640px;
    margin-left: 20px;
    background: red;
    border-radius: 16px;
    margin-top: 20px;
}
main .carts .cart img{
    width: 300px;
    height: 340px;
    margin-top: 25px;
    margin-left: 25px
} 
main .carts .cart .cart_main{
    background: red;
    margin-left: 25px;
    width: 300px;
    height: 160px;
}
main .carts .cart .cart_main .name_film{
    color:#fff;
}
main .carts .cart .cart_main .genre{
    color:rgb(212, 255, 0);
    font-size: 15px;
}
main .carts .cart .cart_main .overview{
    color:rgb(255, 255, 255);
    font-size: 15px;
}
main .carts .cart .cart_main .relise{
    width: 300px;
    height: 30px;
    display: flex;
    gap: 10px;
}
main .carts .cart .cart_main .relise i{
    color: #fff;
    font-size: 25px;
  
}
main .carts .cart .cart_main .relise p{
    color: #fff;
    font-size: 25px;
  
}

main .carts .cart .cart_bottom{
    width: 300px;
    height: 50px;
    margin-top: 10px;
    margin-left: 25px;
    display: flex;
    justify-content: space-between;
}
main .carts .cart .cart_bottom button{
    width: 150px;
    height: 48px;
    margin-top: 10px;
    border: none;
    border-radius: 16px;
    background-color: aqua;
   
}
main .carts .cart .cart_bottom button i{
   color: red;
}
main .carts .cart .cart_bottom .icon{

   font-size: 25px;
   color: #fff;
}
main .divBtn{
    margin-left: 540px;
    display: flex;
    gap: 20px;
}
main  .divBtn .previous{
    width: 200px;
    height: 60px;
    margin-top: 20px;
    background:none ;
    border: 1px solid white;
    border-radius: 16px;
    color: #fff;
    font-size: 20px;
}

main .divBtn .next{
    width: 200px;
    height: 60px;
    margin-top: 20px;
    background:none ;
    border: 1px solid white;
    border-radius: 16px;
    color: #fff;
    font-size: 20px;
}
